.page-logo {
  display: flex;
  align-items: center;
  font-family: $secondary-text-family;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.31;
  text-transform: uppercase;
  color: $title-text-color;

  & .logo {
    display: inline-block;
    width: 63px;
    height: 63px;
    margin-right: 14px;
  }
}
